body {
  font-size: 16px;
}
.hidden {
  display: none;
}

.header {
  margin-bottom: 25px !important;
  border-bottom: 1px solid #D1D1D1;
}

.header .logo {
  font-size: 3rem;
}

.header button {
  margin-top: 10px;
}
@media (min-width: 550px) {
  .header button {
    /*float: right;*/
  }
}
@media (max-width: 550px) {
  form button {
    margin-bottom: 25px;
  }
  form input {
    margin-bottom: 5px;
  }
}

form {
  width: 100%;
  display: flex;
}

form input {
  display: flex;
  flex-grow: 1;
  min-width: 50%;
  margin-right: 15px;
}

ul#messagesList {
  list-style: none;
  /*border: 1px solid #D1D1D1;*/
  padding: 0px;
  border-radius: 4px;
  margin: 0px;
}

ul#messagesList li {
  margin: 0px;
  margin-left: 35px;
  border: 1px solid #33C3F0;
  border-radius: 10px;
  margin-bottom: 10px;
  min-height: 30px;
  align-content: center;
  padding: 5px 2px 0px 5px;
}
ul#messagesList li img {
  position: absolute;
  left: 0px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

ul#messagesList li:nth-child(even) {
  background-color: rgba(51, 195, 240, 0.15);
}

ul#messagesList li .user {
  margin-right: 15px;
  font-weight: bold;
  white-space: nowrap;
}
ul#messagesList li .user:after {
  content: ':';
}
